 .homePage {
  flex: auto;
  justify-content: center;
  text-align: center;
}
  
  .memory-game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(6, 100px); 
    grid-template-rows: repeat(6, 100px); 
    grid-gap: 10px;
    margin-top: 20px;
  }
  
  .card {
    width: 100px;
    height: 100px;
    perspective: 1000px;  
  }


  
  .card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;  
  }
  
  .card.flipped .card-inner {
    /* transform: rotateY(180deg); */
  }
  
  .card .card-front,
  .card .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card .card-front {
    background-color: black;
    border: 1px solid #ccc;
    font-size: 3em;
    font-weight: bold;
  }
  
  .card .card-back {
    background-color: #333;
    color: white;
    font-size: 2em;
  }
  
  .card-number {
    font-size: 2em;
    font-weight: bold;
    color: white;
  }
  
  .card-placeholder {
    font-size: 2em;
    color: white;
  }
  
  .game-over {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: green;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  /* .card   */
  .card .card-front  .matched{
    background-color: aqua !important ;
  }